ion-content {
    --padding-top: 0;
    --padding-bottom: 0; 
    height: 82vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin-top: 200px;
  }
.container-primer{
    background-color: blue;
    height: 100%;
    border-radius: 20px;
}
.buttons{
    
    
    border: 1px solid blue;
   
}
.cuerpo{
    border: 1px solid red;
    padding-bottom: 100px;
}
.titulo{
    text-align: center;
    padding-top: 90%;
}
.contenedor-imagen{
    align-items: center;
    display: flex;
    border: 1px solid red;
    padding-top: 100px;
}

table {
   
    margin: 0 ;
    border-radius: 20px;
    
    
}

table, th, td {
    border: 1px solid black;
    
}

th, td {
    padding: 10px;
    text-align: center;
    
}
td{
    font-size: 12px;
}
th {
    background-color: blue;
    
}
.scrollable-table {
    max-height: 320px; /* Ajusta el alto según tus necesidades */
    overflow-y: scroll;
    overflow-x: hidden;
  }