
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" >Profesor</ion-title>
    <ion-icon slot="end" name="person" class="ion-padding" size="large"></ion-icon>
  
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="contenedor-imagen">
    <img class="logo" src="assets/img/Logo_DuocUC.png" alt="">
  </div>
   
 <div class="cuerpo">
  <div class="titulo">
    <h1>Lista de Secciones</h1>
    <div class="buttons">
      <ion-button type="submit" slot="end" fill="solid" >
        Cerrar Sesion
      </ion-button>
      </div>
  </div>
  <table class="scrollable-table ">
    <tr>
        <th>Asignatura</th>
        <th>Sigla</th>
        
        <th>Operaciones</th>
    </tr>
    <tr>
        <td>Programacion de Base de Datos</td>
        <td>MDY3131-002D</td>
        <td><ion-button  expand="block" fill="clear" shape="round" (click)="al_codigo()">
          Abrir
        </ion-button></td>
    </tr>
    <tr>
      <td>Programacion Movil</td>
      <td>PGY4121-003D</td>
      <td><ion-button  expand="block" fill="clear" shape="round" (click)="al_codigo()">
        Abrir
      </ion-button></td>
    </tr>
    <tr>
      <td>Programacion Movil</td>
      <td>PGY4121-004D</td>
      <td><ion-button  expand="block" fill="clear" shape="round" (click)="al_codigo()">
        Abrir
      </ion-button></td>
      
    </tr>
    <tr>
      <td>Programacion de Base de Datos</td>
      <td>MDY3131-002D</td>
      <td><ion-button  expand="block" fill="clear" shape="round" (click)="al_codigo()">
        Abrir
      </ion-button></td>
  </tr>
  <tr>
    <td>Programacion de Base de Datos</td>
    <td>MDY3131-002D</td>
    <td><ion-button  expand="block" fill="clear" shape="round" (click)="al_codigo()">
      Abrir
    </ion-button></td>
</tr>
<tr>
  <td>Programacion Movil</td>
  <td>PGY4121-003D</td>
  <td><ion-button  expand="block" fill="clear" shape="round" (click)="al_codigo()">
    Abrir
  </ion-button></td>
</tr>
<tr>
  <td>Programacion Movil</td>
  <td>PGY4121-004D</td>
  <td><ion-button  expand="block" fill="clear" shape="round" (click)="al_codigo()">
    Abrir
  </ion-button></td>
  
</tr>
<tr>
  <td>Programacion de Base de Datos</td>
  <td>MDY3131-002D</td>
  <td><ion-button  expand="block" fill="clear" shape="round" (click)="al_codigo()">
    Abrir
  </ion-button></td>
</tr>
</table>
</div>

    <!--  <div class="titulo" >
      <h1>Asistencia</h1>
    </div>
    
      <ion-button type="submit" expand="block" fill="solid">
      Generar codigo QR
    </ion-button>
    <ion-button type="submit" expand="block" fill="solid" >
      Cerrar Sesion
    </ion-button>
  </div>-->
  
</ion-content>