<ion-header class="header">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button (click)="volver_al_home()" text="Volver">Volver</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">
      <h3>Secciones</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor-asistencia">
    <div class="contenedor-tabla">
      <ion-accordion-group>
        <H1>Lista de Presencia</H1>
        <!-- Mostrar asignaturas -->
        <ion-item *ngFor="let c of clases  ">
          <ion-label>
            <h2>{{ c.nombre }}</h2>
            <h5>{{c.cursoid}}--{{c.asignatura}}</h5>
            <br>
            <p>Fecha: {{ c.fecha }}</p>
            <p>Estado: Presente</p>
            <p> </p>
          </ion-label>
        </ion-item>
      </ion-accordion-group>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-buttons" style="display: flex; justify-content: center; align-items: center; gap: 50px;">
      <ion-button (click)="volver_al_home()" fill="clear" color="custom">
        <ion-icon slot="icon-only" name="home-outline" style="font-size: 30px; color: black;"></ion-icon>
      </ion-button>
     
    </div>
  </ion-toolbar>
</ion-footer>
