<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/codigoprofe" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor-imagen">
    <img class="logo" src="assets/img/Logo_DuocUC.png" alt="Logo DuocUC">
  </div>

  <ion-list [inset]="true" lines="full" mode="ios" id="cuadro">
    <ion-list-header mode="ios" color="primary">
      <ion-label>Lista de Alumnos - {{ fechaHoy }}</ion-label>
    </ion-list-header>
    <div class="scrollable-table">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Estado</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of alumnos">
            <td>{{ a.nombre }}</td>
            <td>Presente</td> 
          </tr>
        </tbody>
      </table>
    </div>
    <div class="buttons">
      <ion-button expand="block" fill="solid" (click)="al_vistaprofe()">
        Volver
      </ion-button>
    </div>
  </ion-list>
</ion-content>
