ion-content {
    --padding-bottom: 56px; /* Altura del footer, ajusta si es necesario */
    height: calc(100vh - 56px); /* Ocupa todo el espacio, menos el footer */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
table {
   
    
    border-radius: 20px;
    margin-left: 64px;
    
}

table, th, td {
    border: 1px solid black;
    
}

th, td {
    padding: 10px;
    text-align: center;
    
}
td{
    font-size: 12px;
}
th {
    background-color: blue;
    
}
.scrollable-table {
    max-height: 320px; /* Ajusta el alto según tus necesidades */
    overflow-y: scroll;
    overflow-x: hidden;
  }

  ion-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
  }