
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vista-profe" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" >Profesor</ion-title>
    <ion-icon slot="end" name="person" class="ion-padding" size="large"></ion-icon>
  
  </ion-toolbar>
</ion-header>
<ion-content>
 <div>
    <img class="logo" src="assets/img/Logo_DuocUC.png" alt="">
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Generar Codigo QR</ion-card-title>
      <ion-card-subtitle>Codigo para asistencia de clases</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      El Codigo durara 10 min, despues de el lapso debera generar otro
    </ion-card-content>
   
      <div class="buttons">
        <ion-button type="submit" expand="block" fill="solid" (click)="alerta()">
          Generar Codigo
        </ion-button>

        <ion-button type="submit" expand="block" fill="solid" (click)="al_vistaProfe()" >
          Volver
        </ion-button>
      </div>
    
  </ion-card>
</ion-content>