ion-content {
  --padding-top: 0;
  --padding-bottom: 0; 
  height: 82vh;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  margin-top: 200px;
}
  
.contenedor-qr {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    padding-top: 40%;
    gap: 20px; 
  }
.tarjeta_header{
  text-align: center;
}
.tarjeta_content{
  align-items: center;
  border-top:  solid black;
  text-align: center;
}
.tarjeta_content .logo{
  align-items: center;

}