ion-content {
  --padding-top: 0;
  --padding-bottom: 0; 
  height: 82vh;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  margin-top: 200px;
}
  
.contenedor-qr {

    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    padding-top: 200px;
    gap: 20px; 
  }