
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" >Profesor</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <div class="contenedor-qr">
    <img class="logo" src="assets/img/scaner.png" alt="">
    <div class="contenedor-btn">
      <ion-button (click)="scan()" [disabled]="!isSupported">
        Escanearrr
      </ion-button>
    </div>
  </div>
</ion-content>


<app-menu></app-menu>



