<ion-content [fullscreen]="true" class="ion-padding centrar-contenido">
  <div class="contenedor-titulo">
    <img class="logo" src="assets/img/Logo_DuocUC.png" alt="">
  </div>
  <form #miForm="ngForm" (ngSubmit)="iniciar_sesion()">
    <div class="container-form">
      <div class="ion-padding form">

        <ion-input class="borde" 
        label="Correo" 
        label-placement="floating" 
        fill="solid" 
        [(ngModel)]="usr.email" 
        placeholder="Correo" 
        name="nombre-usuario">
</ion-input>
          

           

          <ion-input class="borde" label="Contraseña" [type]="hide ? 'password' : 'text'" label-placement="floating" fill="outline" [(ngModel)]="usr.password" placeholder="***********" name="password"><ion-icon
            name="{{ hide ? 'eye-off-outline' : 'eye-outline' }}"
            slot="end"
            (click)="showPassword()"
            style="cursor: pointer;"
          ></ion-icon></ion-input>

        
      </div>
      <ion-button type="submit" expand="block" fill="solid" [disabled]="miForm.invalid">
        Iniciar sesión  
      </ion-button>
      <div class="sin_cuenta"></div>
        <ion-text class="ion-padding" color="primary" routerLink="/registro">
          ¿Deseas Registrarte?
        </ion-text>
        <ion-text color="primary" routerLink="/vista-olvide-contrasennia">
          ¿Olvidaste tu contraseña?
        </ion-text>
      </div>
      
        
      
  </form>
</ion-content>