

<ion-content [fullscreen]="true" class="ion-padding centrar-contenido">
  <div class="contenedor-recuperar">
    <ion-text>
      <h2>Recuperar Contraseña</h2>
    </ion-text>
    
    <form #formRecuperar="ngForm" (ngSubmit)="enviarRecuperacion()">
      <ion-item class="input-container">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="correo" name="correo" required></ion-input>
      </ion-item>
      
      <ion-button expand="block" type="submit" [disabled]="formRecuperar.invalid">
        Enviar
      </ion-button>
    </form>
  </div>
</ion-content>