
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/codigoprofe" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" >Profesor</ion-title>
    <ion-icon slot="end" name="person" class="ion-padding" size="large"></ion-icon>
  
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="contenedor-imagen">
    <img class="logo" src="assets/img/Logo_DuocUC.png" alt="">
  </div>
  <ion-card-content class="cuerpo">
    <ion-card-header>
   
      <ion-card-title class="card-title">Codigo QR Asistencia</ion-card-title>
    </ion-card-header>
    <div>
      <img class="codigo" src="assets/img/Untitled (1).png" alt="">
    </div>
    <div class="buttons">
      <ion-button type="submit" expand="block" fill="solid" (click)="al_vistaprofe()">
       Volver
      </ion-button>
    </div>
  </ion-card-content>
</ion-content>
