
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/codigoprofe" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" >Profesor</ion-title>
    <ion-icon slot="end" name="person" class="ion-padding" size="large"></ion-icon>
  
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
  </ion-card-content>
</ion-content>
