ion-content {
  --padding-bottom: 56px; /* Altura del footer, ajusta si es necesario */
  height: calc(100vh - 56px); /* Ocupa todo el espacio, menos el footer */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header{
  text-align: center;
}
.contenedor-titulo {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.logo {
  max-width: 90%;
  height: auto; 
  padding: 70px 0;
}

.button-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  width: 100%; 
  padding: 0 20px; 

}
#tarjeta{
  border-radius: 10px;
  border: 1px solid dodgerblue;
}