ion-content {
  height: 82vh;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center; 

}

.contenedor-titulo {
  margin-bottom: 30px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.logo {
  max-width: 90%;
  height: auto; 
  padding: 70px 0;
}

.button-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  width: 100%; 
  padding: 0 20px; 

}