<ion-header class="header">
  <ion-toolbar color="tertiary" slot="center">
    <div >
    <ion-title class="ion-text-capitalize"><h3>Home</h3></ion-title>
  </div>
    <ion-buttons slot="start">
    </ion-buttons>
    
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="contenedor-titulo">
    <img class="logo" src="assets/img/Logo_DuocUC.png" alt="">
  </div>
  <div class="button-container">
    <ion-button  size="large" name="qr-code-outline" (click)="escanearQr()">
      
      <ion-icon name="qr-code-outline" style="padding-right: 20px;" ></ion-icon>Escanear QR
    </ion-button>
    <ion-button  size="large" (click)="asistencia()">
      <ion-icon name="book-outline" style="padding-right: 20px;"></ion-icon>Ver asistencia
    </ion-button>
    <ion-button  size="large" (click)="profe()">
      <ion-icon name="book-outline" style="padding-right: 20px;"></ion-icon>Vista profe
    </ion-button>
  </div>

</ion-content>  

<ion-footer>
  <ion-toolbar>
    <div class="footer-buttons" style="display: flex; justify-content: center; align-items: center;gap: 50px;width: 100%;font-size: 200px;">
      <ion-button  routerLink="/home" fill="clear" color="custom">
        <ion-icon slot="icon-only" name="home-outline"  style="font-size: 30px; color: black;"></ion-icon>
      </ion-button>
      <ion-button  fill="clear" routerLink="/vista-perfil-usuario">
        <ion-icon slot="icon-only" name="person-outline" style="font-size: 30px; color: black;"></ion-icon>
      </ion-button>
  
    </div>
  </ion-toolbar>
</ion-footer>

