  <ion-header class="header">
    <ion-toolbar color="tertiary" slot="center">
      <div >
      <ion-title class="ion-text-capitalize"><h3>Home</h3></ion-title>
    </div>
      <ion-buttons slot="start">
      </ion-buttons>
      
    
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="contenedor-titulo">
      <img class="logo" src="assets/img/Logo_DuocUC.png" alt="">
    </div>
    <div>
      <ion-item id="tarjeta">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <div *ngIf="studentData">
        <ion-label><ion-title>{{ studentData.nombre_alumno}}  </ion-title></ion-label>
      </div>
      </ion-item>
    </div>
    
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>Ver Lista de Asistencia</ion-card-title>
        <ion-card-subtitle>Revisa tus Clases en las que estuviste Presente y Ausente</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> <ion-button   (click)="escanearQr()">
        Escanear QR
      </ion-button></ion-card-content>
    </ion-card>

    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>Escanear QR</ion-card-title>
        <ion-card-subtitle>
          Escanea el QR de la Clase para estar Presente
        </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-button  (click)="asistencia()">Ver Asistencia</ion-button>
        </ion-card-content>
    </ion-card>


  </ion-content>  

  <app-menu></app-menu>
