<ion-header class="header">
  <ion-toolbar color="tertiary" slot="center">
    <div >
    <ion-title class="ion-text-capitalize"><h3>Home</h3></ion-title>
  </div>
    <ion-buttons slot="start">
    </ion-buttons>
    
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="contenedor-titulo">
    <img class="logo" src="assets/img/Logo_DuocUC.png" alt="">
  </div>
  <div class="button-container">
    <ion-button  size="large" name="qr-code-outline" (click)="escanearQr()">
      
      <ion-icon name="qr-code-outline" style="padding-right: 38px;" ></ion-icon>Escanear QR
    </ion-button>

    
    <ion-button  size="large" (click)="asistencia()">
      <ion-icon name="book-outline" style="padding-right: 20px;"></ion-icon>Ver asistencia
    </ion-button>
  </div>

</ion-content>  

<app-menu></app-menu>
